.crime-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000; 
  max-width: 600px;
  width: 90%;
  overflow-y: auto; /* Add scroll if content overflows */
  max-height: 80vh; /* Limit height for better usability */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.close-button:hover {
  color: rgb(90, 5, 5);
}

.crime-popup h2,
.crime-popup h3 {
  margin-top: 0;
  color: #333;
}

.crime-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.crime-table th,
.crime-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.crime-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

.crime-table td {
  text-align: center;
}

.crime-table tr:hover {
  background-color: #f9f9f9;
}

.crime-popup p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}
